.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.ovalmedium {
  padding: 5px 8px;
  border: 1px solid black;
  border-radius: 15px;
}

.ovalsmall {
  border: 1px solid black;
  border-radius: 30px;
}
